@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
body {
  font-family: "Inter", sans-serif;
}

header {
  z-index: 10001 !important;
}

.section-container {
  @apply max-w-screen-2xl container mx-auto;
  /* @apply max-w-screen-2xl container mx-auto xl:px-24 px-4; */
}

.subtitle {
  @apply text-soft-red uppercase tracking-wide font-medium text-lg;
}

.title {
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug;
}

.heartStar {
  border-radius: 0px 28px 0 28px;
}

.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #39db4a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}